h1{ 
    font-family:'Dancing Script' ;

}
.prevention{
    font-size: 3em;
    text-align: center;
    font-family: Garamond;
    font-style: oblique;
    color: azure;
}
.foot{
    font-size: 1em;
    text-align: center;
    font-family: Garamond;
    color: sandybrown;
}